.Container {
  width: 100%;
}

.HeroWrapper {
  padding-bottom: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 35rem;
}

.HeroLeft {
  width: 62.5rem;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  z-index: 1;
  background-color: var(--primary-white);
  margin-bottom: -11.5rem;
}
.ContentWrapper {
  width: 36rem;
}
.HeroLeft p {
  margin-bottom: 1.5rem;
  font-size: 1.31rem;
  line-height: 140%;
  color: #7d7977;
}

.HeroImgWrapper {
  position: relative;
  width: 100%;
  height: 40rem;
}

.HeroSection {
  position: relative;
  height: 35.31rem;
}

.HeroRight {
  position: absolute;
  top: -75px;
  bottom: 0;
  left: 0;
  right: 0;
}
.NavBorder {
  height: 1px;
  width: 100%;
  background-color: #e9e9e8;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.HeroImgWrapperMobile {
  display: none;
  position: relative;
  width: 100%;
  height: 40rem;
}

.DetailsWrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 1rem;
}
.TimeWrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 0.5rem;
}

.TimeImage {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.ArrowImg {
  transition: all 0.5s ease-in-out;
}

.DetailsWrapper p {
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #7d7977;
  margin-bottom: 0;
  transition: all 0.5s ease-in-out;
}
.Margin {
  margin-right: auto;
  margin-left: 2.3rem;
}
.ProgressWrapper {
  width: 100%;
  height: 1px;
  background-color: #e9e9e8;
  transition: all 0.5s ease-in-out;
}
.Progress {
  width: 0;
  height: 1px;
  background-color: var(--black);
  transition: all 0.5s ease-in-out;
}

.HeroLeft:hover .Progress {
  width: 100%;
}

.HeroLeft:hover .DetailsWrapper p {
  color: var(--black);
}

.HeroLeft:hover .ArrowImg,
.HeroLeft:hover .TimeImage {
  filter: invert(63%) sepia(72%) saturate(2640%) hue-rotate(332deg)
    brightness(-53%) contrast(388%);
}

@media screen and (max-width: 991px) {
  .HeroLeft {
    max-width: 100%;
    width: 100%;
    padding: 56px;
  }
  .HeroLeft p {
    max-width: 100%;
  }
  .ContentWrapper {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .HeroLeft {
    padding: 40px 24px;
    margin-bottom: -202px;
  }
  .HeroImgWrapper {
    display: none;
  }

  .HeroImgWrapperMobile {
    display: block;
  }
  .NavBorder {
    width: 90vw;
    left: 5vw;
    right: 5vw;
  }

  .Container {
    height: 100%;
  }
  .HeroWrapper {
    height: 100%;
  }
}

@media screen and (max-width: 479px) {
  .HeroSection {
    height: 96vh;
  }
  .HeroWrapper {
    padding-top: 120px;
  }

  .HeroImgWrapperMobile {
    height: 100%;
  }
}
