.TrandingSection {
  background-color: var(--light-gray);
}

.Container {
  padding-top: 13rem;
  padding-bottom: 5rem;
}

.Container h2 {
  margin-bottom: 2.5rem;
}

.Cards {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 1rem;
  row-gap: 1rem;
}

.Cards div:nth-of-type(1) {
  grid-column: 1 / span 2;
}

.Cards div:nth-of-type(1) .BlogCard {
  display: flex;
  justify-content: space-between;
}

.Cards div:nth-of-type(1) .BlogCard .BlogImageWrapper {
  width: 63%;
}

.Cards div:nth-of-type(2) .BlogCard .BlogImageWrapper .BlogImage {
  height: 18.75rem;
}

.Cards div:nth-of-type(1) .BlogCard .BlogImageWrapper .BlogImage {
  height: 100%;
}
.Cards div:nth-of-type(1) .BlogCard .BlogContentWrapper {
  width: 37%;
  margin-top: auto;
}
.Cards div:nth-of-type(1) .BlogCard .BlogContentWrapper h3 {
  font-size: 2rem;
}

.BlogContentWrapper h3 {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-size: 1.31rem;
  font-weight: 500;
  line-height: 100%;
  text-transform: capitalize;
}

.BlogCardsWrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
}

.BlogCard {
  background-color: #fffdfb;
  text-decoration: none;
  height: 100%;
}

.BlogImageWrapper {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.BlogImage {
  position: relative;
  width: 100%;
  height: 13.875rem;

  transition: all 0.3s ease-in-out;
}

.BlogCard:hover .BlogImage {
  transform: scale(1.1);
}

.BlogContentWrapper {
  padding: 1rem 1rem 1.5rem 1rem;
}

.DetailsWrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 1rem;
}
.TimeWrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 0.5rem;
}
.ArrowImg {
  transition: all 0.5s ease-in-out;
}
.TimeImage {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.BlogContentWrapper p {
  line-height: 140%;
}
.DetailsWrapper p {
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #7d7977;
  transition: all 0.5s ease-in-out;
}
.Margin {
  margin-right: auto;
  margin-left: 2.3rem;
}

.Description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.BlogButtonMobile {
  display: none;
}

.ProgressWrapper {
  width: 100%;
  height: 1px;
  background-color: #e9e9e8;
  transition: all 0.5s ease-in-out;
  margin-top: 1rem;
}
.Progress {
  width: 0;
  height: 1px;
  background-color: var(--black);
  transition: all 0.5s ease-in-out;
}

.BlogCard:hover .Progress {
  width: 100%;
}

.BlogCard:hover .DetailsWrapper p {
  color: var(--black);
}

.BlogCard:hover .ArrowImg,
.BlogCard:hover .TimeImage {
  filter: invert(63%) sepia(72%) saturate(2640%) hue-rotate(332deg)
    brightness(-53%) contrast(388%);
}

@media screen and (max-width: 1439px) {
  .Cards div:nth-of-type(1) .BlogCard .BlogImageWrapper {
    width: 55%;
  }

  .Cards div:nth-of-type(1) .BlogCard .BlogContentWrapper {
    width: 45%;
  }
}

@media screen and (max-width: 991px) {
  .Container {
    padding-left: 0;
    padding-right: 0;
  }
  .Container h2 {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .Cards div:nth-of-type(1) {
    grid-column: 1 / span 1;
  }

  .Cards div:nth-of-type(1) .BlogCard {
    display: flex;
    flex-direction: column;
  }

  .Cards div:nth-of-type(1) .BlogCard .BlogImageWrapper {
    width: 100%;
    height: 55vw;
  }

  .Cards div:nth-of-type(2) .BlogCard .BlogImageWrapper .BlogImage {
    height: 55vw;
  }

  .Cards div:nth-of-type(1) .BlogCard .BlogImageWrapper .BlogImage {
    height: 100%;
  }
  .Cards div:nth-of-type(1) .BlogCard .BlogContentWrapper {
    width: 100%;
    margin-top: auto;
  }

  .Cards {
    grid-template-columns: 1fr;
  }

  .BlogImage {
    height: 55vw;
  }
  .BlogContentWrapper h3 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .Margin {
    margin-right: auto;
    margin-left: 2.3rem;
  }
  .DetailsWrapper {
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .Container {
    padding-top: 226px;
  }
  .BlogHeading {
    padding: 0 5vw;
  }
  .Description {
    -webkit-line-clamp: 3;
  }
  .BlogCardsWrapper {
    flex-direction: column;
    row-gap: 1rem;
  }
  .BlogCard {
    width: 100%;
  }
  .ArrowImg {
    display: block;
  }
  .Margin {
    margin-right: auto;
    margin-left: 2.3rem;
  }

  .BlogImage {
    height: 50vw;
  }

  .BlogButton {
    display: none;
  }

  .BlogButtonMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85vw;
    margin-right: auto;
    margin-left: auto;
  }

  .BlogButtonMobile div {
    width: 100%;
    text-align: center;
  }
  .BlogWrapper {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 479px) {
  .BlogImage {
    height: 70vw;
  }
}
