.BanerSection {
  display: flex;
  justify-content: start;
  margin-top: 5rem;
}

.BanerLeft {
  position: relative;
  width: 33%;
  height: 35.8rem;
}
.BanerContent {
  background-color: var(--red);
  height: 35.8rem;
  width: 67%;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-left: 8em;
  flex-direction: column;
}

.ContentWrapper {
  max-width: 25.5rem;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.ContentWrapper h2,
.ContentWrapper p {
  color: #fffdfb;
}

.ContentWrapper p {
  margin-bottom: 2.5rem;
}

.InputWrapper {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  column-gap: 1rem;
  align-items: center;
}

.InputWrapper input {
  background-color: #d76e67;
  border-radius: 5rem;
  height: 3rem;
  border: none;
  width: 20rem;
  padding: 0 1.5rem;
  color: var(--white);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: -0.03em;
}

.InputWrapper input.Submit {
  width: 13rem;
  border-radius: 2.5rem;
  background-color: var(--black);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 100%;
  text-transform: uppercase;
  color: #fffdfb;
}

.InputWrapper input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #fffdfb;
}
.InputWrapper p {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;
  letter-spacing: -0.03em;
  color: #e9e9e8;
  max-width: 19rem;
  margin-right: auto;
  margin-left: 0.5rem;
}

@media screen and (max-width: 1439px) {
  .ContentWrapper {
    max-width: 25rem;
  }
}

@media screen and (max-width: 991px) {
  .BanerSection {
    flex-direction: column;
  }
  .BanerLeft {
    width: 100%;
  }

  .BanerContent {
    width: 100%;

    padding: 5rem 5vw;
    height: auto;
  }

  .BanerContent form {
    width: 100%;
  }
  .InputWrapper {
    width: 100%;
  }
  .InputWrapper input {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .BanerSection {
    margin-top: 0;
  }
}

@media screen and (max-width: 479px) {
  .BanerLeft {
    height: 420px;
  }
  .InputWrapper {
    flex-direction: column;
    margin-bottom: 0;
  }
  .InputWrapper input {
    width: 100%;
    margin-bottom: 1rem;
  }

  .InputWrapper input.Submit {
    width: 100%;
    margin-top: 0.5rem;
  }
}
