.Footer {
  background-color: var(--black);
}

.FooterWrapper {
  padding: 2.5rem 0;
  display: flex;
  justify-content: space-between;
}

.FooterLeft {
  max-width: 20rem;
}

.FooterLeft p {
  margin-top: 1rem;
}

.SocialWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  width: 6.43rem;
}

.SocialLinksWrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 3rem;
  margin-top: 1rem;
}

.SmallLinkWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}

.LinkWrapper p {
  color: var(--light-gray);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.LinkWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.FooterMiddle {
  display: flex;
  column-gap: 9rem;
}

.FooterRight {
  margin-left: 4rem;
  margin-right: 4rem;
}

.Contact {
  width: 11rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.FooterRight p {
  color: var(--light-gray);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  text-align: center;
  margin-bottom: 2.5rem;
}

.Link {
  text-decoration: none;
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 0.5rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: var(--text-light);
  transition: all 0.3s ease-in-out;
  margin-top: 1rem;
}
.Link:hover {
  opacity: 0.6;
}

.LinkPhone {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SocialLinksWrapperMobile {
  display: none;
}

.ContactMobile {
  display: none;
}

@media screen and (max-width: 991px) {
  .FooterWrapper {
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 35px;
  }
  .SocialLinksWrapperMobile {
    display: flex;
    max-width: 32rem;
    justify-content: space-between;
    align-items: center;
  }

  .SocialLinksWrapper {
    display: none;
  }

  .FooterLeft {
    margin-bottom: 40px;
  }
  .FooterMiddle {
    margin-bottom: 5rem;
  }
  .FooterRight {
    margin-left: 0;
    margin-right: 0;
  }

  .Contact {
    display: none;
  }
  .ContactMobile {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-bottom: 5rem;
  }

  .ContactMobile p {
    margin-bottom: 0;
    text-align: left;
  }
  .Link {
    margin-top: 0;
  }

  .ContactMobileWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 32rem;
    margin-bottom: 1rem;
  }
}
