.IntroSection {
  background-color: var(--light-gray);
}

.IntroWrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.ElipseWrapper {
  width: 6rem;
  height: 6rem;
  background-color: var(--primary-white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  position: relative;
  top: -3rem;
  position: absolute;
}
.IntroContent {
  width: 50%;
  margin-left: auto;
  display: flex;

  column-gap: 1rem;
}

.IntroImagesWrapper {
  padding-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
}

.IntroImageOne {
  position: relative;
  width: 65%;
  height: 30rem;
}

.IntroImageTwo {
  position: relative;
  height: 30rem;
  width: 34%;
}
