.ServicesWrapper {
  padding-top: 5rem;
  padding-bottom: 7.5rem;
  display: flex;
  justify-content: space-between;
}

.ServicesLeft {
  width: 27rem;
  margin-left: 7em;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.ServicesItemWrapper {
  width: 100%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.ServicesItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
}

.ServicesItem p {
  transition: all 0.5s ease-in-out;
}

.ServicesArrow {
  position: relative;
  transition: all 0.5s ease-in-out;
}

.ServicesContentWrapper {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  width: 100%;
}

.ProgressWrapper {
  width: 100%;
  background-color: rgba(119, 123, 125, 0.2);
  height: 1px;
}

.Progress {
  height: 100%;
  background-color: var(--black);
  width: 0%;
  transition: all 0.5s ease-in-out;
}

.ServicesItemWrapper:hover p {
  color: var(--black);
}

.ServicesItemWrapper:hover .ServicesArrow {
  filter: invert(63%) sepia(72%) saturate(2640%) hue-rotate(332deg)
    brightness(-53%) contrast(388%);
}

.ServicesItemWrapper:hover .Progress {
  width: 100%;
}

.ServicesRight {
  width: 50%;
}

.ServicesImageWrapper {
  position: relative;
  width: 100%;
  height: 32.3rem;
}

.MarginProject {
  padding-bottom: 5rem;
  margin-top: 5rem;
}

.BgColor {
  background-color: #f8f8f8;
}

@media screen and (max-width: 1439px) {
  .ServicesImageWrapper {
    height: 32.1rem;
  }
}

@media screen and (max-width: 991px) {
  .ServicesWrapper {
    flex-direction: column;
    row-gap: 5rem;
  }

  .ServicesLeft {
    padding-top: 0;
    margin-left: 0;
  }
  .ServicesRight {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .MarginProject {
    margin-top: 0;
  }
  .Container {
    padding: 0 0;
  }

  .ServicesWrapper {
    padding-bottom: 0;
  }
  .ServicesLeft {
    padding: 0 5vw;
    width: auto;
  }
  .ServicesImageWrapper {
    height: 110vw;
  }

  .MarginProject {
    flex-direction: column-reverse;
    padding-top: 0;
    padding-bottom: 80px;
  }

  .MarginProject .ServicesLeft {
    padding-top: 5rem;
  }

  .MarginProject {
    row-gap: 0;
  }
}
