.ProccesAboutSection {
  background-color: var(--light-gray);
  height: 30rem;
}

.ProccesAboutWrapper {
  display: flex;
  justify-content: space-between;
}

.AboutImgWrapper {
  position: relative;
  width: 34rem;
  height: 35rem;
  top: -5rem;
}

.AboutRight {
  width: 50%;
  align-items: center;
  display: flex;
}
.AboutRightWrapper {
  max-width: 27rem;
}

.AboutRightWrapper h2 {
  max-width: 21rem;
}

@media screen and (max-width: 1439px) {
  .AboutImgWrapper {
    width: 32rem;
  }
}

@media screen and (max-width: 991px) {
  .ProccesAboutSection {
    height: auto;
  }
  .ProccesAboutWrapper {
    flex-direction: column;
    padding: 5rem 0;
    row-gap: 5rem;
  }

  .AboutImgWrapper {
    top: 0;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .Container {
    padding: 0 0;
  }
  .AboutRight {
    padding-left: 5vw;
    padding-right: 5vw;
    width: 100%;
  }
  .AboutImgWrapper {
    height: 375px;
  }
  .AboutRightWrapper {
    max-width: none;
  }
  .AboutRightWrapper h2 {
    max-width: none;
  }
}
