.Link {
  padding: 0.75rem 1rem;
  border-radius: 2.5rem;
}

.Link a {
  font-size: 0.875rem;
  text-decoration: none;
}

.Logo {
  padding: 0rem 0rem;
  border-radius: 0rem;
}

.Dark a {
  color: var(--primary-white);
}

.Dark {
  padding: 0.75rem 1rem;
  background-color: var(--black);
  color: var(--primary-white);
  font-size: 0.875rem;
  text-transform: uppercase;
  border: none;
  transition: all 0.5s ease-in-out;
}
.Dark:hover {
  background-color: #c8413e;
}

.Transparent {
  background-color: transparent;
  border: 1px solid #e9e9e8;
  transition: all 0.5s ease-in-out;
}

.Transparent a {
  color: var(--black);
  transition: all 0.5s ease-in-out;
}

.Transparent:hover a {
  color: var(--text-light);
}

.SmallFooter {
  padding: 0 0;
  text-decoration: underline;
}

.SmallFooter a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;
  letter-spacing: -0.03em;
  color: var(--text-light);
}

.Footer {
  padding: 0 0;
}

.Footer a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
  color: #7d7977;
}

.White {
  background-color: var(--primary-white);
  transition: all 0.5s ease-in-out;
}

.White a {
  color: var(--black);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
  transition: all 0.5s ease-in-out;
}

.White:hover {
  background-color: var(--red);
}

.White a:hover {
  color: var(--primary-white);
}
.NavOpen {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 2.5rem;
  position: relative;
  z-index: 5;
}

.NavOpen a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 4rem;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: var(--text-light);
  transition: all 0.5s ease-in-out;
}

.NavOpen:hover a {
  color: var(--red);
}
