* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

/* Ako uvozimo nas FONT */

/* @font-face {
  font-family: "MontBook";
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  src: local("MontBook"), url("/fonts/MontBook.woff") format("woff");
} */

:root {
  --white: #ffffff;
  --primary-white: #fffdfb;
  --text-light: #b1b1b1;
  --black: #27201c;
  --light-gray: #f8f8f8;
  --red: #c8413e;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  background-color: var(--primary-white);
  /* line-height: 150%;
  letter-spacing: -0.02em; */
}

body {
  min-height: 0vw;
  font-size: calc(0.6122848200312989vw + 0.3092723004694837em);
}

.container {
  max-width: 97.5em;
  margin: 0 auto;
  padding-left: 3.88em;
  padding-right: 3.88em;
}

h1,
h2,
h3 {
  /* color: var(--primary-text); */
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: var(--black);
}

h1 {
  font-weight: 400;
  font-size: 4.44em;
  line-height: 100%;
  letter-spacing: -0.03em;
  margin-bottom: 1rem;
}
h2 {
  font-size: 2.77em;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.03em;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1.11em;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.03em;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
  letter-spacing: -0.03em;
  color: var(--text-light);
  margin-top: 0;
  margin-bottom: 0;
}

.p-large {
  font-size: 1.31rem;
  color: #7d7977;
}

.p-bold {
  font-weight: 700;
}
.swiper-button-next {
  background-image: url("/images/arrow_next.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-prev {
  background-image: url("/images/arrow_prew.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev::after {
  display: none;
}
.swiper-button-next {
  right: 0 !important;
  bottom: -15px !important;
  top: auto !important;
  width: 1rem !important;
}

.swiper-button-prev {
  right: 32px !important;
  bottom: -15px !important;
  top: auto !important;
  left: auto !important;
  width: 1rem !important;
}

.nav-wrapper {
  min-height: 100vh;
  min-width: 100%;
  background-color: #eee;
  padding: 0 100px;
  display: flex;
  align-items: center;
  position: relative;
}
.project-list:hover .project-item {
  opacity: 0.1;
}
.project-list .project-item {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
}
.project-title {
  position: relative;
  z-index: 3;
}
.project-list .project-title {
  font-size: 48px;
  color: gray;
  font-weight: 300;
  transition: opacity 0.3s ease-in-out;
}
.project-list:hover .project-item:hover {
  opacity: 1;
  cursor: pointer;
}
.project-media img {
  width: 400px;
  height: 250px;
  position: absolute;
  opacity: 0;
  width: auto;
  height: auto;
  max-width: 60%;
  max-height: 50%;
  object-fit: contain;
  pointer-events: none;
  z-index: 3;
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
}
.is-active {
  opacity: 1 !important;
}

.project-list {
  display: flex;
  flex-direction: column;
}
:focus {
  outline-color: transparent;
  outline-style: none;
}

@media screen and (min-width: 1440px) {
  body {
    font-size: 0.90625em;
  }
}
/* Min Font Size */
@media screen and (max-width: 991px) {
  body {
    font-size: calc(0.20181634712411706vw + 0.625em);
  }

  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 16px;
  }
  .container {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media screen and (max-width: 767px) {
  .swiper-button-next {
    left: 32px !important;
    bottom: 0 !important;
  }

  .swiper-button-prev {
    left: 0px !important;
    bottom: 0 !important;
  }
}
