* {
  box-sizing: border-box;
}

/* Ako uvozimo nas FONT */

/* @font-face {
  font-family: "MontBook";
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  src: local("MontBook"), url("/fonts/MontBook.woff") format("woff");
} */

:root {
  --white: #ffffff;
  --primary-white: ##fafafa;
  --secondary-light: #dbf1fd;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  /* line-height: 150%;
  letter-spacing: -0.02em; */
}

body {
  min-height: 0vw;
  font-size: calc(0.6122848200312989vw + 0.3092723004694837em);
}

.container {
  max-width: 97.5em;
  margin: 0 auto;
  padding-left: 3.88em;
  padding-right: 3.88em;
}

h1,
h2,
h3 {
  /* color: var(--primary-text); */
  margin: 0;
}

h1 {
  font-family: "MontExtraBold";
  font-weight: 900;
  font-size: 3.26em;
  line-height: 110%;
  letter-spacing: -0.04em;
  margin-bottom: 1rem;
}
h2 {
  font-size: 2.5em;
  font-family: "MontBold";
  line-height: 110%;
  letter-spacing: -0.02em;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1.45em;
  font-family: "MontBold";
  line-height: 135%;
  letter-spacing: -0.02em;
}

p {
  font-family: "MontBook";
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--primary-text);
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

.p-large {
  font-size: 1.31rem;
  line-height: 150%;
  letter-spacing: -0.02em;
}

.p-bold {
  font-family: "MontBold";
  font-weight: 800;
}
